.btn-lg,
.btn-primary:hover,
.btn-success:hover,
.btn-success:active{
	background-color: purple;
    border-color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
img{
	position:relative;
	left:25px;
}
span{
	font-family: Century Gothic;
	font-color:purple;
}
label{
	font-family: Century Gothic;
	font-color:purple;
	font-size:12x;
}
.btn-primary{
   color:none;
}
th{
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 30px;
}
.glyphicon {
    font-size: 30px;
}
.glyphicon-user{
	color:  purple;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	 font-size: 30px;
	 left:25px;
}
.glyphicon-refresh{
	 left:955px;
	 size:20px;
}
.glyphicon-search{
left:620px;
psoition:absolute;
}
.glyphicon-log-out{
left:1110px;
position:relative;
}
.btn-default > .btn-lg
{
	left:955px;
}
h1{
  color: purple;
  font-family:Century Gothic;
}
h2{
	font-family: Century Gothic;
	color:purple;
}
p{
   font-family: Century Gothic;
   color:purple;
   font-size:20px;
   left:-200px;
   position:relative;
}
td{
   font-family: Century Gothic;
   color:purple;
   font-size:20px;
   left:-95px;
   position:relative;
}